:root {
  --primary-color: #2B2B2B;
  --secondary-color: #A259FF;
  --text-primary-color: #ffff;
  --text-secondary-color: #EDEDED;
  --card-bg-color: #3B3B3B;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #2B2B2B !important;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white !important;

  }
}


.event-card {
  background-color: var(--card-bg-color) !important;
  color: white;
  border-radius: 20px !important;
  box-shadow: 2px 2px 16px 0px var(--text-secondary-color);
  transition: all 0.3s ease-in;
  width: auto !important;
}

/* .event-id {
  font-size: 1rem;
  letter-spacing: 1px;
  margin-left: 5px;
}
.event-id:hover{
transform: none !important;
} */

.event-title {
  font-size: 1.7rem;
}

.event-description-div,
.event-location-div,
.event-list,
.event-date-div,
.event-time-div,
.event-creator-div {
  font-size: 1.5rem !important;
}

.event-header-div:hover {
  transform: none !important;

}

.event-location-div span,
.event-date-div span,
.event-description-div span,
.event-time-div span,
.event-creator-div span,
.event-header-div span {
  margin-left: 9px;
}

.event-card:hover {
   transform: translateY(-15px);
} 

.attendees-list {
  font-size: 1rem;
}

.event-creator-div,
.event-header-div {
  font-size: 1rem !important;


}

.event-creator-div {
  background-color: var(--secondary-color) !important;
  padding: 5px 2px 5px 2px;
  border-radius: 20px;
}


@media (max-width:1200px) {
  .hero-heading {
    font-size: 1rem;
    /* background-color: red; */
  }

  .hero-para {
    font-size: large;
  }
}